{% extends 'base.html' %}

{% block title %}Incentive Menu{% endblock %}
{% block page-header %}
  Manage your incentives
{% endblock %}

{% block incentive_menu %}<li class="active">{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="row">
        <div class="col-sm-12">
          <strong>Percentage of subscribed incentives complete:</strong>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{percent_complete}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent_complete}}%">
              {% if payout_for_month %}
              <strong>{{percent_complete}}% - ${{payout_for_month}}</strong
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
            <form method="post">
              {% csrf_token %}
              <div class="form-inline">
                <select class="form-control" id="sel1" value="{{today|date:'m'}}" name="chosen-month">
                  {% if month == 1 %}
                  <option selected="selected" value="1">January</option>
                  {% else %}
                  <option value="1">January</option>
                  {% endif %}
                  {% if month == 2 %}
                  <option selected="selected" value="2">February</option>
                  {% else %}
                  <option value="2">February</option>
                  {% endif %}
                  {% if month == 3 %}
                  <option selected="selected" value="3">March</option>
                  {% else %}
                  <option value="3">March</option>
                  {% endif %}
                  {% if month == 4 %}
                  <option selected="selected" value="4">April</option>
                  {% else %}
                  <option value="4">April</option>
                  {% endif %}
                  {% if month == 5 %}
                  <option selected="selected" value="5">May</option>
                  {% else %}
                  <option value="5">May</option>
                  {% endif %}
                  {% if month == 6 %}
                  <option selected="selected" value="6">June</option>
                  {% else %}
                  <option value="6">June</option>
                  {% endif %}
                  {% if month == 7 %}
                  <option selected="selected" value="7">July</option>
                  {% else %}
                  <option value="7">July</option>
                  {% endif %}
                  {% if month == 8 %}
                  <option selected="selected" value="8">August</option>
                  {% else %}
                  <option value="8">August</option>
                  {% endif %}
                  {% if month == 9 %}
                  <option selected="selected" value="9">September</option>
                  {% else %}
                  <option value="9">September</option>
                  {% endif %}
                  {% if month == 10 %}
                  <option selected="selected" value="10">October</option>
                  {% else %}
                  <option value="10">October</option>
                  {% endif %}
                  {% if month == 11 %}
                  <option selected="selected" value="11">November</option>
                  {% else %}
                  <option value="11">November</option>
                  {% endif %}
                  {% if month == 12 %}
                  <option selected="selected" value="12">December</option>
                  {% else %}
                  <option value="12">December</option>
                  {% endif %}
                </select>
                <input type="submit" class="btn btn-primary" value="Go"/>
              </div>
            </form>
        </div>
        <div class="col-sm-4">
          <p>
            Total Potential (subscribed): ${{subscribed_potential_payout}}
          </p>
        </div>
        <div class="col-sm-4">
        <p>
          Total for month: ${{payout_for_month}}
        </p>
        </div>
      </div>
      <br />
      <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default" style="padding:0px">
              <div class="panel-heading">
                <center><strong>Subscribed & Due Soon</strong></center>
              </div>
                <ul class="list-group">
                  {% for incentive in subscribed_and_due %}
                  <li class="list-group-item"><a style="color:darkred;" href="{% url 'incentive_detail' incentive.pk%}">{{incentive}}</a></li>
                  {% empty %}
                  <li class="list-group-item">There are no upcoming incentives.</li>
                  {% endfor %}
                </ul>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default" style="padding:0px">
              <div class="panel-heading">
                <center><strong>Completed - Not Payed</strong></center>
              </div>
              <ul class="list-group">
                {% for incentive in completed_not_payed %}
                <li class="list-group-item"><a href="{% url 'incentive_detail' incentive.incentivemodel.pk %}">{{incentive}}</a></li>
                {% empty %}
                <li class="list-group-item">There are no upcoming incentives.</li>
                {% endfor %}
              </ul>
              </div>
          </div>
          <div class="col-sm-4">
            <div class="panel panel-default" style="padding:0px">
              <div class="panel-heading">
                <center><strong>Completed Payed</strong></center>
              </div>
              <ul class="list-group">
                {% for incentive in completed_payed %}
                <li class="list-group-item"><a style="color:darkgreen;"href="{% url 'incentive_detail' incentive.incentivemodel.pk %}">{{incentive}}</a></li>
                {% empty %}
                <li class="list-group-item">There are no upcoming incentives.</li>
                {% endfor %}
              </ul>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
