{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}
{% block page-header %}
  {{user.first_name|title}} {{user.last_name|title}}'s Profile Page
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">
          <center>
            <h3>User Status is:
            {% if user.is_superuser %}
            <strong><a href="/admin/"> Administrator</a></strong></h3>
            {% elif user.is_staff %}
              <strong>Staff</strong></h3>
            {% elif user.is_active %}
              <strong>Active</strong></h3>
            {% else %}
              <strong>Error</strong></h3>
            {% endif %}
          </center>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item"><center>Account created on {{user.date_joined}}</center></li>
        <li class="list-group-item">
          {% if user.last_login %}
          <center><strong>Last logged in on {{user.last_login}}</strong></center>
          {% else %}
          <center>You have never been logged in..?</center>
          {% endif %}
        </li>
      </ul>
    </div>
    <div class="col-sm-3"></div>
  </div>




  <br />
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <table class="table">
          <tr>
            <th>Username: </th>
            <td class="text-left">{{user.username}}</td>
          </tr>
          <tr>
            <th>First Name: </th>
            <td class="text-left">{{user.first_name}}</td>
          </tr>
          <tr>
            <th>Last Name: </th>
            <td class="text-left">{{user.last_name}}</td>
          </tr>
          <tr>
            <th>Email Address: </th>
            <td class="text-left">{{user.email}}</td>
          </tr>
          <tr>
            <th>Company Name: </th>
            <td class="text-left">{{user.userprofile.company_name}}</td>
          </tr>
          <tr>
            <th>Verfified Email: </th>
            {% if verified_email %}
            <td class="text-left">Yes</td>
            {% else %}
            <td class="text-left danger"><strong>No</strong> - verify email <a href="#">here.</a></td>
            {% endif %}
          </tr>
          <tr>
            <th>Company Model: </th>
            <td class="text-left">{{user.userprofile.company}} - {{user.userprofile.company.city}}</td>
          </tr>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-header">
          <center><h3>Incentives</h3></center>
        </div>
        <ul class="list-group">
        {% if user.userprofile.company.incentivemodel_set %}
          {% for item in user.userprofile.company.incentivemodel_set.all %}
            <li class="list-group-item"><a href="#">{{item}} | ${{item.payout}}</a></li>
          {% endfor %}
        {% else %}
          <li class="list-group-item"><strong>No Incentives</strong></li>
      </ul>
      {% endif %}
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <center><a class="btn btn-danger btn" href="{% url 'edit_profile' %}">Edit Profile</a></center>
    </div>
  </div>

</div>


{% endblock %}
