{% extends 'base.html' %}

{% block page-header %}
  Subtext about the blog!
{% endblock %}

{% if user.is_authentiacted %}
{% block blog %}<li class="dropdown active">{% endblock %}
{% else %}
{% block news %}<li class="dropdown active">{% endblock %}
{% endif %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
  <center><h2>Recent Blog Posts</h2></center>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
  {% if posts %}
  <ul class="list-group">
    {% for post in posts %}
    {% if forloop.counter0  < 5 %}
    <li class="list-group-item">
      <center><a href="{{ post.get_absolute_url }}">{{ post.title}} - {{post.posted}}</a></center>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>
      There are no posts.
    </p>
  {% endif %}
  </div>
  </div>

</div>

{% endblock %}
