{% extends 'base.html' %}

{% block page-header %}
  View {{subject|title}} Post
{% endblock %}

{% block blog %}<li class="dropdown active">{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% if object.image %}
    <div class="col-sm-3">
      <img src="{{ post.image.url }}" />
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h2>{{ object.title }} - <small>{{object.posted|date}}</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <p>{{ object.body|safe }}</p>
    </div>
  </div>
</div>
{% endblock %}
