{% extends 'base.html' %}

{% block page-header %}
  <h1><strong>View Blog Post</strong><br /><small>Subtext about the blog!</small></h1>
{% endblock %}

{% block blog %}<li class="dropdown active">{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% if post.image %}
    <div class="col-sm-3">
      <img src="{{ post.image.url }}" />
    </div>
    {% endif %}
    <div class="col-sm-offset-1 col-sm-8">
      <h2>{{ post.title }}</h2>
      <p>{{ post.body }}</p>
    </div>
  </div>
</div>
{% endblock %}
